.App-container{
  background-image: url(img/globo-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}

.search-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
}

@media(max-width:768px){
  .App-container{
    display: flex;
    flex-direction: column-reverse;
    
  }
  .search-container{
    display: flex;
    justify-content: space-between;
  }
}



